// ====================================================//
// ==========   VAULT UI   ============================//
// ====================================================//



#main-vault-video-container {
	position: relative;
	width: 100%;
	height: 100%;

	.main-vault-video {
		z-index: -1;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		visibility: hidden;

		&.by-width {
			width: 100%;
			height: auto;
		}

		&.by-height {
			height: 100%;
			width: auto;
		}

		&.main-vault-video-staged {
			visibility: visible;
		}

		&.main-vault-video-active {
			z-index: 0;
		}
	}
}

#vault-player-bar {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 85px;
	background: transparent;

	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 275%;
		bottom: 0;
		background: linear-gradient(to top, rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 100%);
	}

	#vault-player-indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;

		#vault-player-indicator-marker {
			position: absolute;
			left: 50%;
			top: -35px;
			margin-left: -7px;
			width: 14px;

			path {
				stroke: rgba(255,255,255,.8);
				stroke-width: 23;
				fill: none;
			}
		}

		#vault-player-indicator-line {
			border-top: 2px solid rgba(255,255,255,.85);
			width: 100%;
		}
	}

	#vault-player-button-container {
		position: relative;
		width: 420px;
		height: 100%;
		max-height: 105px;
		max-width: 100%;
		box-sizing: border-box;
		display: table;
		border-top: 1px solid rgba(255,255,255,.75);
		margin: 0 auto;
		transition: opacity .5s;

		.vault-player-button {
			position: relative;
			display: table-cell;
			width: 25%;
			height: 100%;
			cursor: pointer;

			&:hover {
				svg {
					circle, line, path, polyline, polygon, rect, ellipse {
						stroke: rgba(255,255,255,.65);
					}
				}
			}

			&.vault-player-button-active {
				svg {
					height: 50px;
					transform: translate(-50%,-50%);

					circle, line, path, polyline, polygon, rect, ellipse {
						stroke: rgba(255,255,255,.85);
						stroke-width: 12;
					}
				}
			}

			svg {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-65%);
				height: 35px;
				width: auto;
				transition: height .15s ease-in-out, transform .15s ease-in-out;

				circle, line, path, polyline, polygon, rect, ellipse {
					stroke: rgba(255,255,255,.50);
					stroke-width: 18;
					fill: none;
					stroke-linecap: round;
					stroke-linejoin: round;
					transition: stroke .2s, stroke-width .2s;
				}
			}
		}
	}
}